In [44]:
import pandas as pd
import matplotlib.pyplot as plot
import numpy as np 
import re

In [88]:
df = pd.read_csv("../data/raw/players2020.csv")

In [46]:
df

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
0,Achiuwa,Precious,Miami,Heat,MIA,F,"6'8""",225 lbs,Memphis,Nigeria,2020.0,1.0,20.0,1.0,5.8,3.9,0.5,2020,2020
1,Adams,Jaylen,Portland,Trail Blazers,POR,G,"6'0""",225 lbs,St. Bonaventure,USA,NaN,NaN,NaN,NaN,0.3,0.4,0.3,2018,2020
2,Adams,Steven,New Orleans,Pelicans,NOP,C,"6'11""",265 lbs,Pittsburgh,New Zealand,2013.0,1.0,12.0,1.0,8.2,9.2,2.0,2013,2020
3,Adebayo,Bam,Miami,Heat,MIA,C-F,"6'9""",255 lbs,Kentucky,USA,2017.0,1.0,14.0,1.0,19.2,9.5,5.4,2017,2020
4,Aldridge,LaMarcus,San Antonio,Spurs,SAS,C-F,"6'11""",250 lbs,Texas,USA,2006.0,1.0,2.0,1.0,13.7,4.5,1.7,2006,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,Wright,Delon,Detroit,Pistons,DET,G,"6'5""",185 lbs,Utah,USA,2015.0,1.0,20.0,1.0,10.6,4.5,4.8,2015,2020
493,Young,Thaddeus,Chicago,Bulls,CHI,F,"6'8""",235 lbs,Georgia Tech,USA,2007.0,1.0,12.0,1.0,12.2,6.1,4.3,2007,2020
494,Young,Trae,Atlanta,Hawks,ATL,G,"6'1""",180 lbs,Oklahoma,USA,2018.0,1.0,5.0,1.0,26.7,4.1,9.3,2018,2020
495,Zeller,Cody,Charlotte,Hornets,CHA,F-C,"6'11""",240 lbs,Indiana,USA,2013.0,1.0,4.0,1.0,10.0,7.5,2.3,2013,2020
496,Zubac,Ivica,LA,Clippers,LAC,C,"7'0""",240 lbs,Mega Basket,Croatia,2016.0,2.0,32.0,1.0,8.2,6.9,1.1,2016,2020

In [47]:
CneterPlayer = df[df['POSITION'] == 'C'] 
CneterPlayers = df[df['POSITION'] == 'F-C'] 
centerplayer = df[df['POSITION'] == 'C-F'] 
AllCneterPlayer = pd.concat([CneterPlayer,CneterPlayerdf,centerplayer])
AllCneterPlayer

NameError: name 'CneterPlayerdf' is not defined

In [23]:
FPlayer = df[df['POSITION'] == 'F'] 
FPlayers = df[df['POSITION'] == 'F-C'] 
fplayer = df[df['POSITION'] == 'C-F'] 
fplayers = df[df['POSITION'] == 'G-F'] 
fowardplayers = df[df['POSITION'] == 'F-G'] 
AllForwardPlayer = pd.concat([FPlayer,FPlayers,fplayer,fplayers,fowardplayers])
AllForwardPlayer

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
0,Achiuwa,Precious,Miami,Heat,MIA,F,"6'8""",225 lbs,Memphis,Nigeria,2020.0,1.0,20.0,1.0,5.8,3.9,0.5,2020,2020
9,Aminu,Al-Farouq,Orlando,Magic,ORL,F,"6'8""",220 lbs,Wake Forest,USA,2010.0,1.0,8.0,1.0,4.6,4.4,1.5,2010,2020
11,Antetokounmpo,Giannis,Milwaukee,Bucks,MIL,F,"6'11""",242 lbs,Filathlitikos,Greece,2013.0,1.0,15.0,1.0,29.0,11.6,6.1,2013,2020
12,Antetokounmpo,Kostas,Los Angeles,Lakers,LAL,F,"6'10""",200 lbs,Dayton,Greece,2018.0,2.0,60.0,1.0,1.0,2.7,0.0,2018,2020
13,Antetokounmpo,Thanasis,Milwaukee,Bucks,MIL,F,"6'6""",219 lbs,Panathinaikos,Greece,2014.0,2.0,51.0,1.0,2.3,2.0,0.6,2015,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,Oubre Jr.,Kelly,Golden State,Warriors,GSW,F-G,"6'7""",203 lbs,Kansas,USA,2015.0,1.0,15.0,1.0,15.4,5.9,1.4,2015,2020
389,Reddish,Cam,Atlanta,Hawks,ATL,F-G,"6'8""",218 lbs,Duke,USA,2019.0,1.0,10.0,1.0,11.2,4.0,1.3,2019,2020
422,Sirvydis,Deividas,Detroit,Pistons,DET,F-G,"6'8""",190 lbs,-,Lithuania,2019.0,2.0,37.0,1.0,0.2,0.2,0.2,2020,2020
435,Tatum,Jayson,Boston,Celtics,BOS,F-G,"6'8""",210 lbs,Duke,USA,2017.0,1.0,3.0,1.0,25.1,7.0,4.4,2017,2020
487,Winslow,Justise,Memphis,Grizzlies,MEM,F-G,"6'6""",222 lbs,Duke,USA,2015.0,1.0,10.0,1.0,9.0,5.6,2.3,2015,2020

In [24]:
GuardPlayer = df[df['POSITION'] == 'G'] 
GuardPlayers = df[df['POSITION'] == 'F-G'] 
guardplayer = df[df['POSITION'] == 'G-F'] 
AllGuardPlayer = pd.concat([GuardPlayer,GuardPlayers,guardplayer])
AllGuardPlayer

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
1,Adams,Jaylen,Portland,Trail Blazers,POR,G,"6'0""",225 lbs,St. Bonaventure,USA,NaN,NaN,NaN,NaN,0.3,0.4,0.3,2018,2020
5,Alexander,Ty-Shon,Phoenix,Suns,PHX,G,"6'3""",195 lbs,Creighton,USA,NaN,NaN,NaN,1.0,0.0,0.3,0.3,2020,2020
6,Alexander-Walker,Nickeil,New Orleans,Pelicans,NOP,G,"6'6""",205 lbs,Virginia Tech,Canada,2019.0,1.0,17.0,1.0,8.5,2.6,2.0,2019,2020
7,Allen,Grayson,Memphis,Grizzlies,MEM,G,"6'4""",198 lbs,Duke,USA,2018.0,1.0,21.0,1.0,9.3,2.8,2.2,2018,2020
15,Anthony,Cole,Orlando,Magic,ORL,G,"6'2""",185 lbs,North Carolina,USA,2020.0,1.0,15.0,1.0,11.0,4.4,3.8,2020,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,Vassell,Devin,San Antonio,Spurs,SAS,G-F,"6'5""",200 lbs,Florida State,USA,2020.0,1.0,11.0,1.0,5.6,3.2,1.1,2020,2020
464,Walker IV,Lonnie,San Antonio,Spurs,SAS,G-F,"6'4""",204 lbs,Miami,USA,2018.0,1.0,18.0,1.0,11.1,2.9,1.7,2018,2020
469,Watanabe,Yuta,Toronto,Raptors,TOR,G-F,"6'9""",215 lbs,George Washington,Japan,NaN,NaN,NaN,1.0,2.7,3.1,0.4,2018,2020
480,Williams,Kenrich,Oklahoma City,Thunder,OKC,G-F,"6'6""",210 lbs,TCU,USA,NaN,NaN,NaN,1.0,6.3,3.9,1.7,2018,2020
486,Windler,Dylan,Cleveland,Cavaliers,CLE,G-F,"6'6""",196 lbs,Belmont,USA,2019.0,1.0,26.0,1.0,6.3,4.1,1.2,2019,2020

In [30]:
cities = df.groupby('TEAM_CITY').mean()
cities

,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
TEAM_CITY,,,,,,,,,
Atlanta,2015.571429,1.142857,19.214286,1.0,9.318750,3.862500,1.981250,2016.187500,2020.0
Boston,2016.153846,1.230769,19.538462,1.0,9.375000,3.562500,2.037500,2016.562500,2020.0
Brooklyn,2013.076923,1.461538,22.923077,1.0,11.773333,4.186667,2.873333,2013.466667,2020.0
Charlotte,2016.928571,1.428571,23.285714,1.0,8.687500,3.618750,2.031250,2017.250000,2020.0
Chicago,2015.727273,1.181818,14.454545,1.0,8.461111,3.527778,1.866667,2016.166667,2020.0
Cleveland,2015.461538,1.230769,19.230769,1.0,8.900000,4.194118,2.017647,2016.352941,2020.0
Dallas,2015.923077,1.461538,22.923077,1.0,8.382353,3.447059,1.623529,2016.176471,2020.0
Denver,2015.692308,1.538462,31.538462,1.0,7.468421,2.978947,1.657895,2016.736842,2020.0
Detroit,2016.941176,1.352941,23.647059,1.0,7.338889,2.972222,1.805556,2016.944444,2020.0
Golden State,2015.363636,1.272727,20.000000,1.0,9.193750,4.118750,2.318750,2015.875000,2020.0
Houston,2013.846154,1.307692,21.384615,1.0,9.326316,3.715789,2.010526,2015.105263,2020.0
Indiana,2016.000000,1.272727,23.818182,1.0,9.264706,3.282353,2.041176,2016.176471,2020.0
LA,2012.428571,1.357143,26.071429,1.0,9.526667,3.606667,1.980000,2013.133333,2020.0
Los Angeles,2012.583333,1.333333,25.416667,1.0,8.287500,3.625000,1.756250,2013.375000,2020.0
Memphis,2016.583333,1.250000,24.166667,1.0,9.813333,4.120000,2.333333,2017.266667,2020.0
Miami,2013.181818,1.181818,20.090909,1.0,9.381250,3.687500,2.293750,2014.875000,2020.0
Milwaukee,2014.307692,1.461538,29.000000,1.0,8.458824,3.605882,2.141176,2014.941176,2020.0
Minnesota,2016.230769,1.230769,18.538462,1.0,10.086667,4.120000,2.306667,2016.733333,2020.0
New Orleans,2015.666667,1.166667,16.416667,1.0,8.726667,3.766667,1.986667,2016.400000,2020.0
New York,2015.000000,1.133333,15.533333,1.0,8.205882,3.529412,1.682353,2015.411765,2020.0
Oklahoma City,2015.615385,1.384615,27.615385,1.0,8.670588,3.858824,2.052941,2016.411765,2020.0
Orlando,2014.692308,1.166667,16.250000,1.0,9.581250,4.293750,2.406250,2015.562500,2020.0
Philadelphia,2015.133333,1.400000,28.666667,1.0,8.505556,3.516667,1.694444,2015.500000,2020.0
Phoenix,2015.076923,1.307692,20.230769,1.0,8.986667,3.373333,2.126667,2015.533333,2020.0
Portland,2014.833333,1.181818,19.363636,1.0,9.960000,3.826667,1.833333,2015.066667,2020.0
Sacramento,2015.933333,1.533333,26.333333,1.0,8.723529,3.500000,1.917647,2016.411765,2020.0
San Antonio,2015.133333,1.266667,24.533333,1.0,8.806250,3.525000,1.950000,2015.312500,2020.0
Toronto,2015.700000,1.300000,29.300000,1.0,8.588235,3.547059,2.076471,2016.294118,2020.0
Utah,2015.090909,1.545455,31.636364,1.0,8.480000,3.486667,1.773333,2015.933333,2020.0
Washington,2015.333333,1.333333,23.066667,1.0,8.500000,3.477778,1.961111,2016.000000,2020.0

In [31]:
names = df.groupby('TEAM_NAME').mean()
names

,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
TEAM_NAME,,,,,,,,,
76ers,2015.133333,1.400000,28.666667,1.0,8.505556,3.516667,1.694444,2015.500000,2020.0
Bucks,2014.307692,1.461538,29.000000,1.0,8.458824,3.605882,2.141176,2014.941176,2020.0
Bulls,2015.727273,1.181818,14.454545,1.0,8.461111,3.527778,1.866667,2016.166667,2020.0
Cavaliers,2015.461538,1.230769,19.230769,1.0,8.900000,4.194118,2.017647,2016.352941,2020.0
Celtics,2016.153846,1.230769,19.538462,1.0,9.375000,3.562500,2.037500,2016.562500,2020.0
Clippers,2012.428571,1.357143,26.071429,1.0,9.526667,3.606667,1.980000,2013.133333,2020.0
Grizzlies,2016.583333,1.250000,24.166667,1.0,9.813333,4.120000,2.333333,2017.266667,2020.0
Hawks,2015.571429,1.142857,19.214286,1.0,9.318750,3.862500,1.981250,2016.187500,2020.0
Heat,2013.181818,1.181818,20.090909,1.0,9.381250,3.687500,2.293750,2014.875000,2020.0
Hornets,2016.928571,1.428571,23.285714,1.0,8.687500,3.618750,2.031250,2017.250000,2020.0
Jazz,2015.090909,1.545455,31.636364,1.0,8.480000,3.486667,1.773333,2015.933333,2020.0
Kings,2015.933333,1.533333,26.333333,1.0,8.723529,3.500000,1.917647,2016.411765,2020.0
Knicks,2015.000000,1.133333,15.533333,1.0,8.205882,3.529412,1.682353,2015.411765,2020.0
Lakers,2012.583333,1.333333,25.416667,1.0,8.287500,3.625000,1.756250,2013.375000,2020.0
Magic,2014.692308,1.166667,16.250000,1.0,9.581250,4.293750,2.406250,2015.562500,2020.0
Mavericks,2015.923077,1.461538,22.923077,1.0,8.382353,3.447059,1.623529,2016.176471,2020.0
Nets,2013.076923,1.461538,22.923077,1.0,11.773333,4.186667,2.873333,2013.466667,2020.0
Nuggets,2015.692308,1.538462,31.538462,1.0,7.468421,2.978947,1.657895,2016.736842,2020.0
Pacers,2016.000000,1.272727,23.818182,1.0,9.264706,3.282353,2.041176,2016.176471,2020.0
Pelicans,2015.666667,1.166667,16.416667,1.0,8.726667,3.766667,1.986667,2016.400000,2020.0
Pistons,2016.941176,1.352941,23.647059,1.0,7.338889,2.972222,1.805556,2016.944444,2020.0
Raptors,2015.700000,1.300000,29.300000,1.0,8.588235,3.547059,2.076471,2016.294118,2020.0
Rockets,2013.846154,1.307692,21.384615,1.0,9.326316,3.715789,2.010526,2015.105263,2020.0
Spurs,2015.133333,1.266667,24.533333,1.0,8.806250,3.525000,1.950000,2015.312500,2020.0
Suns,2015.076923,1.307692,20.230769,1.0,8.986667,3.373333,2.126667,2015.533333,2020.0
Thunder,2015.615385,1.384615,27.615385,1.0,8.670588,3.858824,2.052941,2016.411765,2020.0
Timberwolves,2016.230769,1.230769,18.538462,1.0,10.086667,4.120000,2.306667,2016.733333,2020.0
Trail Blazers,2014.833333,1.181818,19.363636,1.0,9.960000,3.826667,1.833333,2015.066667,2020.0
Warriors,2015.363636,1.272727,20.000000,1.0,9.193750,4.118750,2.318750,2015.875000,2020.0
Wizards,2015.333333,1.333333,23.066667,1.0,8.500000,3.477778,1.961111,2016.000000,2020.0

In [33]:
pointsLeader = df.sort_values(by = ['PTS'],ascending=False)
pointsLeader

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
36,Beal,Bradley,Washington,Wizards,WAS,G,"6'3""",207 lbs,Florida,USA,2012.0,1.0,3.0,1.0,32.1,5.3,4.6,2012,2020
134,Embiid,Joel,Philadelphia,76ers,PHI,C-F,"7'0""",280 lbs,Kansas,Cameroon,2014.0,1.0,3.0,1.0,29.9,11.5,3.3,2014,2020
271,Lillard,Damian,Portland,Trail Blazers,POR,G,"6'2""",195 lbs,Weber State,USA,2012.0,1.0,6.0,1.0,29.7,4.4,8.0,2012,2020
108,Curry,Stephen,Golden State,Warriors,GSW,G,"6'3""",185 lbs,Davidson,USA,2009.0,1.0,7.0,1.0,29.3,5.4,6.2,2009,2020
11,Antetokounmpo,Giannis,Milwaukee,Bucks,MIL,F,"6'11""",242 lbs,Filathlitikos,Greece,2013.0,1.0,15.0,1.0,29.0,11.6,6.1,2013,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,Vonleh,Noah,Denver,Nuggets,DEN,F,"6'10""",257 lbs,Indiana,USA,2014.0,1.0,9.0,NaN,0.0,0.3,0.3,2014,2020
109,Darling,Nate,Charlotte,Hornets,CHA,G,"6'6""",200 lbs,Delaware,Canada,NaN,NaN,NaN,1.0,0.0,0.0,0.0,2020,2020
298,McCaw,Patrick,Toronto,Raptors,TOR,G,"6'7""",181 lbs,UNLV,USA,2016.0,2.0,38.0,1.0,0.0,0.3,1.3,2016,2020
477,Whittington,Greg,Denver,Nuggets,DEN,F,"6'8""",210 lbs,Georgetown,USA,NaN,NaN,NaN,1.0,0.0,0.0,0.0,2020,2020
5,Alexander,Ty-Shon,Phoenix,Suns,PHX,G,"6'3""",195 lbs,Creighton,USA,NaN,NaN,NaN,1.0,0.0,0.3,0.3,2020,2020

In [34]:
rebLeader = df.sort_values(by = ['REB'],ascending=False)
rebLeader

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
83,Capela,Clint,Atlanta,Hawks,ATL,C,"6'10""",240 lbs,Elan Chalon,Switzerland,2014.0,1.0,25.0,1.0,14.8,14.3,0.9,2014,2020
126,Drummond,Andre,Cleveland,Cavaliers,CLE,C,"6'10""",279 lbs,Connecticut,USA,2012.0,1.0,9.0,1.0,17.5,13.5,2.6,2012,2020
164,Gobert,Rudy,Utah,Jazz,UTA,C,"7'1""",258 lbs,Cholet,France,2013.0,1.0,27.0,1.0,14.2,13.1,1.3,2013,2020
249,Kanter,Enes,Portland,Trail Blazers,POR,C,"6'10""",250 lbs,Fenerbahce,Turkey,2011.0,1.0,3.0,1.0,12.2,11.8,1.2,2011,2020
460,Vucevic,Nikola,Orlando,Magic,ORL,C,"6'11""",260 lbs,Southern California,Montenegro,2011.0,1.0,16.0,1.0,24.6,11.7,3.7,2011,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Harper,Jared,New York,Knicks,NYK,G,"5'10""",175 lbs,Auburn,USA,NaN,NaN,NaN,1.0,1.0,0.0,0.0,2019,2020
179,Hagans,Ashton,NaN,NaN,NaN,G-F,"6'3""",190 lbs,Kentucky,USA,NaN,NaN,NaN,NaN,0.0,0.0,0.0,2020,2020
477,Whittington,Greg,Denver,Nuggets,DEN,F,"6'8""",210 lbs,Georgetown,USA,NaN,NaN,NaN,1.0,0.0,0.0,0.0,2020,2020
109,Darling,Nate,Charlotte,Hornets,CHA,G,"6'6""",200 lbs,Delaware,Canada,NaN,NaN,NaN,1.0,0.0,0.0,0.0,2020,2020
204,Hinton,Nate,Dallas,Mavericks,DAL,G-F,"6'5""",210 lbs,Houston,USA,NaN,NaN,NaN,1.0,1.3,0.0,0.0,2020,2020

In [35]:
astLeader = df.sort_values(by = ['AST'],ascending=False)
astLeader

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
184,Harden,James,Brooklyn,Nets,BKN,G,"6'5""",220 lbs,Arizona State,USA,2009.0,1.0,3.0,1.0,25.2,7.9,11.0,2009,2020
473,Westbrook,Russell,Washington,Wizards,WAS,G,"6'3""",200 lbs,UCLA,USA,2008.0,1.0,4.0,1.0,21.1,9.4,9.8,2008,2020
494,Young,Trae,Atlanta,Hawks,ATL,G,"6'1""",180 lbs,Oklahoma,USA,2018.0,1.0,5.0,1.0,26.7,4.1,9.3,2018,2020
119,Doncic,Luka,Dallas,Mavericks,DAL,F-G,"6'7""",230 lbs,Real Madrid,Slovenia,2018.0,1.0,3.0,1.0,28.2,8.4,9.1,2018,2020
376,Porter Jr.,Kevin,Houston,Rockets,HOU,G-F,"6'4""",203 lbs,Southern California,USA,2019.0,1.0,30.0,1.0,20.0,4.0,9.0,2019,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,Spalding,Ray,Charlotte,Hornets,CHA,F,"6'9""",225 lbs,Louisville,USA,2018.0,2.0,56.0,NaN,2.0,2.0,0.0,2018,2020
429,Stanley,Cassius,Indiana,Pacers,IND,G,"6'5""",190 lbs,Duke,USA,2020.0,2.0,54.0,1.0,1.1,0.4,0.0,2020,2020
53,Bolden,Marques,NaN,NaN,NaN,C,"6'10""",249 lbs,Duke,USA,2019.0,NaN,NaN,NaN,1.2,1.0,0.0,2019,2020
61,Brantley,Jarrell,Utah,Jazz,UTA,F,"6'5""",250 lbs,College of Charleston,USA,2019.0,2.0,50.0,1.0,1.1,0.7,0.0,2019,2020
345,Nwora,Jordan,Milwaukee,Bucks,MIL,F,"6'8""",225 lbs,Louisville,USA,2020.0,2.0,45.0,1.0,5.1,1.5,0.0,2020,2020

In [36]:
df.sample(10)

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
427,Snell,Tony,Atlanta,Hawks,ATL,G,"6'6""",213 lbs,New Mexico,USA,2013.0,1.0,20.0,1.0,5.2,2.2,1.2,2013,2020
378,Porter Jr.,Otto,Chicago,Bulls,CHI,F,"6'8""",198 lbs,Georgetown,USA,2013.0,1.0,3.0,1.0,10.5,5.9,1.9,2013,2020
269,Leonard,Meyers,Miami,Heat,MIA,F-C,"7'0""",260 lbs,Illinois,USA,2012.0,1.0,11.0,1.0,3.3,2.3,0.7,2012,2020
61,Brantley,Jarrell,Utah,Jazz,UTA,F,"6'5""",250 lbs,College of Charleston,USA,2019.0,2.0,50.0,1.0,1.1,0.7,0.0,2019,2020
39,Bembry,DeAndre',Toronto,Raptors,TOR,G-F,"6'5""",210 lbs,St. Joseph's (PA),USA,2016.0,1.0,21.0,1.0,4.8,2.2,2.0,2016,2020
268,Leonard,Kawhi,LA,Clippers,LAC,F,"6'7""",225 lbs,San Diego State,USA,2011.0,1.0,15.0,1.0,26.7,6.4,4.8,2011,2020
108,Curry,Stephen,Golden State,Warriors,GSW,G,"6'3""",185 lbs,Davidson,USA,2009.0,1.0,7.0,1.0,29.3,5.4,6.2,2009,2020
69,Brown,Moses,Oklahoma City,Thunder,OKC,C,"7'2""",245 lbs,UCLA,USA,NaN,NaN,NaN,1.0,4.2,4.0,0.3,2019,2020
316,Mills,Patty,San Antonio,Spurs,SAS,G,"6'1""",180 lbs,St.Mary's College of California,Australia,2009.0,2.0,55.0,1.0,13.3,1.9,2.6,2009,2020
134,Embiid,Joel,Philadelphia,76ers,PHI,C-F,"7'0""",280 lbs,Kansas,Cameroon,2014.0,1.0,3.0,1.0,29.9,11.5,3.3,2014,2020

In [38]:
years = df.sort_values(by = 'FROM_YEAR',ascending = True)
years

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
230,James,LeBron,Los Angeles,Lakers,LAL,F,"6'9""",250 lbs,St. Vincent-St. Mary HS (OH),USA,2003.0,1.0,1.0,1.0,25.6,7.9,7.8,2003,2020
14,Anthony,Carmelo,Portland,Trail Blazers,POR,F,"6'7""",238 lbs,Syracuse,USA,2003.0,1.0,3.0,1.0,14.1,3.3,1.6,2003,2020
220,Iguodala,Andre,Miami,Heat,MIA,G-F,"6'6""",215 lbs,Arizona,USA,2004.0,1.0,9.0,1.0,4.7,3.7,2.2,2004,2020
213,Howard,Dwight,Philadelphia,76ers,PHI,C-F,"6'10""",265 lbs,SW Atlanta Christian Academy (GA),USA,2004.0,1.0,1.0,1.0,6.4,7.5,0.7,2004,2020
481,Williams,Lou,LA,Clippers,LAC,G,"6'1""",175 lbs,South Gwinnett HS (GA),USA,2005.0,2.0,45.0,1.0,12.6,2.3,3.7,2005,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,Mays,Skylar,Atlanta,Hawks,ATL,G,"6'4""",205 lbs,Louisiana State,USA,2020.0,2.0,50.0,1.0,3.6,0.7,1.1,2020,2020
42,Bey,Saddiq,Detroit,Pistons,DET,F,"6'7""",215 lbs,Villanova,USA,2020.0,1.0,19.0,1.0,10.1,3.9,1.1,2020,2020
43,Bey,Tyler,Dallas,Mavericks,DAL,F,"6'7""",215 lbs,Colorado,USA,2020.0,2.0,36.0,1.0,1.2,0.8,0.0,2020,2020
447,Toppin,Obi,New York,Knicks,NYK,F,"6'9""",220 lbs,Dayton,USA,2020.0,1.0,8.0,1.0,4.9,2.6,0.6,2020,2020
0,Achiuwa,Precious,Miami,Heat,MIA,F,"6'8""",225 lbs,Memphis,Nigeria,2020.0,1.0,20.0,1.0,5.8,3.9,0.5,2020,2020

In [39]:
df.describe()

,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
count,393.000000,388.000000,388.000000,476.0,497.000000,497.000000,497.000000,497.000000,497.0
mean,2015.213740,1.317010,22.847938,1.0,8.884306,3.634608,2.000402,2015.812877,2020.0
std,4.078955,0.465912,15.981743,0.0,6.801577,2.487697,1.926209,3.887946,0.0
min,2003.000000,1.000000,1.000000,1.0,0.000000,0.000000,0.000000,2003.000000,2020.0
25%,2013.000000,1.000000,9.000000,1.0,3.800000,1.900000,0.600000,2014.000000,2020.0
50%,2016.000000,1.000000,20.000000,1.0,7.200000,3.200000,1.400000,2017.000000,2020.0
75%,2019.000000,2.000000,35.000000,1.0,12.600000,4.900000,2.600000,2019.000000,2020.0
max,2020.000000,2.000000,60.000000,1.0,32.100000,14.300000,11.000000,2020.000000,2020.0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_LAST_NAME   497 non-null    object
 1   PLAYER_FIRST_NAME  497 non-null    object
 2   TEAM_CITY          494 non-null    object
 3   TEAM_NAME          494 non-null    object
 4   TEAM_ABBREVIATION  494 non-null    object
 5   POSITION           497 non-null    object
 6   HEIGHT             497 non-null    object
 7   WEIGHT             497 non-null    object
 8   COLLEGE            497 non-null    object
 9   COUNTRY            497 non-null    object
 10  DRAFT_YEAR         393 non-null    float64
 11  DRAFT_ROUND        388 non-null    float64
 12  DRAFT_NUMBER       388 non-null    float64
 13  ROSTER_STATUS      476 non-null    float64
 14  PTS                497 non-null    float64
 15  REB                497 non-null    float64
 16  AST                497 non-null    float64
 17  FROM_YEAR          497 non-null    int64
 18  TO_YEAR            497 non-null    int64
dtypes: float64(7), int64(2), object(10)
memory usage: 73.9+ KB

In [66]:
noMissing = df.dropna(subset=['ROSTER_STATUS'])
activePlayer = noMissing[noMissing['ROSTER_STATUS']>0]
activePlayer
# activePlayer = noMissing[ == 1]
# activePlayer

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
0,Achiuwa,Precious,Miami,Heat,MIA,F,"6'8""",225 lbs,Memphis,Nigeria,2020.0,1.0,20.0,1.0,5.8,3.9,0.5,2020,2020
2,Adams,Steven,New Orleans,Pelicans,NOP,C,"6'11""",265 lbs,Pittsburgh,New Zealand,2013.0,1.0,12.0,1.0,8.2,9.2,2.0,2013,2020
3,Adebayo,Bam,Miami,Heat,MIA,C-F,"6'9""",255 lbs,Kentucky,USA,2017.0,1.0,14.0,1.0,19.2,9.5,5.4,2017,2020
4,Aldridge,LaMarcus,San Antonio,Spurs,SAS,C-F,"6'11""",250 lbs,Texas,USA,2006.0,1.0,2.0,1.0,13.7,4.5,1.7,2006,2020
5,Alexander,Ty-Shon,Phoenix,Suns,PHX,G,"6'3""",195 lbs,Creighton,USA,NaN,NaN,NaN,1.0,0.0,0.3,0.3,2020,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,Wright,Delon,Detroit,Pistons,DET,G,"6'5""",185 lbs,Utah,USA,2015.0,1.0,20.0,1.0,10.6,4.5,4.8,2015,2020
493,Young,Thaddeus,Chicago,Bulls,CHI,F,"6'8""",235 lbs,Georgia Tech,USA,2007.0,1.0,12.0,1.0,12.2,6.1,4.3,2007,2020
494,Young,Trae,Atlanta,Hawks,ATL,G,"6'1""",180 lbs,Oklahoma,USA,2018.0,1.0,5.0,1.0,26.7,4.1,9.3,2018,2020
495,Zeller,Cody,Charlotte,Hornets,CHA,F-C,"6'11""",240 lbs,Indiana,USA,2013.0,1.0,4.0,1.0,10.0,7.5,2.3,2013,2020
496,Zubac,Ivica,LA,Clippers,LAC,C,"7'0""",240 lbs,Mega Basket,Croatia,2016.0,2.0,32.0,1.0,8.2,6.9,1.1,2016,2020

In [70]:
# notDraftedPlayer = df[df['DRAFT_ROUND'].isna()== True]
# notDraftedPlayer
df.head(10)

,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
0,Achiuwa,Precious,Miami,Heat,MIA,F,"6'8""",225 lbs,Memphis,Nigeria,2020.0,1.0,20.0,1.0,5.8,3.9,0.5,2020,2020
1,Adams,Jaylen,Portland,Trail Blazers,POR,G,"6'0""",225 lbs,St. Bonaventure,USA,NaN,NaN,NaN,NaN,0.3,0.4,0.3,2018,2020
2,Adams,Steven,New Orleans,Pelicans,NOP,C,"6'11""",265 lbs,Pittsburgh,New Zealand,2013.0,1.0,12.0,1.0,8.2,9.2,2.0,2013,2020
3,Adebayo,Bam,Miami,Heat,MIA,C-F,"6'9""",255 lbs,Kentucky,USA,2017.0,1.0,14.0,1.0,19.2,9.5,5.4,2017,2020
4,Aldridge,LaMarcus,San Antonio,Spurs,SAS,C-F,"6'11""",250 lbs,Texas,USA,2006.0,1.0,2.0,1.0,13.7,4.5,1.7,2006,2020
5,Alexander,Ty-Shon,Phoenix,Suns,PHX,G,"6'3""",195 lbs,Creighton,USA,NaN,NaN,NaN,1.0,0.0,0.3,0.3,2020,2020
6,Alexander-Walker,Nickeil,New Orleans,Pelicans,NOP,G,"6'6""",205 lbs,Virginia Tech,Canada,2019.0,1.0,17.0,1.0,8.5,2.6,2.0,2019,2020
7,Allen,Grayson,Memphis,Grizzlies,MEM,G,"6'4""",198 lbs,Duke,USA,2018.0,1.0,21.0,1.0,9.3,2.8,2.2,2018,2020
8,Allen,Jarrett,Cleveland,Cavaliers,CLE,C,"6'11""",243 lbs,Texas,USA,2017.0,1.0,22.0,1.0,13.2,9.8,1.7,2017,2020
9,Aminu,Al-Farouq,Orlando,Magic,ORL,F,"6'8""",220 lbs,Wake Forest,USA,2010.0,1.0,8.0,1.0,4.6,4.4,1.5,2010,2020

In [10]:
df.groupby('TEAM_CITY').max('PTS')

,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,FROM_YEAR,TO_YEAR
TEAM_CITY,,,,,,,,,
Atlanta,2020.0,2.0,50.0,1.0,26.7,14.3,9.3,2020,2020
Boston,2020.0,2.0,51.0,1.0,25.1,8.3,5.8,2020,2020
Brooklyn,2020.0,2.0,57.0,1.0,29.0,7.9,11.0,2020,2020
Charlotte,2020.0,2.0,56.0,1.0,21.0,7.5,6.4,2020,2020
Chicago,2020.0,2.0,38.0,1.0,28.5,7.9,5.2,2020,2020
Cleveland,2020.0,2.0,44.0,1.0,23.9,13.5,5.9,2020,2020
Dallas,2020.0,2.0,45.0,1.0,28.2,8.5,9.1,2020,2020
Denver,2020.0,2.0,51.0,1.0,27.1,11.1,8.6,2020,2020
Detroit,2020.0,2.0,57.0,1.0,23.6,9.1,4.8,2020,2020
Golden State,2020.0,2.0,48.0,1.0,29.3,7.6,8.4,2020,2020
Houston,2020.0,2.0,52.0,1.0,22.0,10.2,9.0,2020,2020
Indiana,2020.0,2.0,54.0,1.0,21.5,11.2,6.4,2020,2020
LA,2020.0,2.0,48.0,1.0,26.7,6.9,5.4,2020,2020
Los Angeles,2019.0,2.0,60.0,1.0,25.6,8.4,7.8,2019,2020
Memphis,2020.0,2.0,46.0,1.0,19.7,11.6,7.8,2020,2020
Miami,2020.0,2.0,45.0,1.0,21.1,9.5,8.0,2020,2020
Milwaukee,2020.0,2.0,60.0,1.0,29.0,11.6,6.1,2020,2020
Minnesota,2020.0,2.0,47.0,1.0,22.3,10.7,6.5,2020,2020
New Orleans,2020.0,2.0,48.0,1.0,25.5,9.2,5.2,2020,2020
New York,2020.0,2.0,47.0,1.0,22.9,11.0,5.7,2020,2020
Oklahoma City,2020.0,2.0,46.0,1.0,23.5,7.5,6.2,2020,2020
Orlando,2020.0,2.0,50.0,1.0,24.6,11.7,5.4,2020,2020
Philadelphia,2020.0,2.0,58.0,1.0,29.9,11.5,7.6,2020,2020
Phoenix,2020.0,2.0,58.0,1.0,25.1,11.2,8.8,2020,2020
Portland,2020.0,2.0,46.0,1.0,29.7,11.8,8.0,2020,2020
Sacramento,2020.0,2.0,55.0,1.0,23.5,8.5,7.6,2020,2020
San Antonio,2020.0,2.0,55.0,1.0,20.3,7.3,7.3,2020,2020
Toronto,2020.0,2.0,59.0,1.0,20.1,9.0,7.2,2020,2020
Utah,2020.0,2.0,58.0,1.0,24.8,13.1,5.6,2020,2020
Washington,2020.0,2.0,53.0,1.0,32.1,9.4,9.8,2020,2020

In [11]:
inventory = [
    ['banana', 'fruit', 25], 
    ['orange', 'fruit', 125], 
    ['broccoli', 'vegetable', 200], 
    ['apple', 'fruit', 50], 
    ['asparagus', 'vegetable', 500] 
]
columns = ['name', 'category', 'price']
df = pd.DataFrame(inventory, columns=columns)
df.groupby('category').max('price')

           price
category
fruit        125
vegetable    500

In [15]:
print(re.search('\w+(\d[A-Za-z]{2})',"I ate 200 kiwis on May 8th, 1999"))

None

In [39]:
a = np.array([
  [2, 4, 6],
  [3, 5, 7]
])

In [42]:
a.shape

(2, 3)

In [34]:
df

   a    c
0  1  1.0
1  2  NaN
2  3  3.0

In [77]:
onePick = df[df['DRAFT_NUMBER']<2]
recentOnePick = onePick[onePick['FROM_YEAR']>2015]
simple = recentOnePick[['PLAYER_LAST_NAME','PLAYER_FIRST_NAME','DRAFT_YEAR','REB']]
simple.sort_values('REB',ascending = False)

    PLAYER_LAST_NAME PLAYER_FIRST_NAME  DRAFT_YEAR   REB
20             Ayton           Deandre      2018.0  11.2
420          Simmons               Ben      2016.0   7.9
484       Williamson              Zion      2019.0   7.1
129          Edwards           Anthony      2020.0   4.1
151            Fultz          Markelle      2017.0   3.1

In [98]:
df['HEIGHT'] = pd.to_numeric(df['HEIGHT'],errors = "coerce")
dfs = df[['TEAM_NAME','HEIGHT']]
height = dfs.groupby('TEAM_NAME').min()
#height.sort_values('HEIGHT',ascending = True).head(10)
print(height)

               HEIGHT
TEAM_NAME
76ers             NaN
Bucks             NaN
Bulls             NaN
Cavaliers         NaN
Celtics           NaN
Clippers          NaN
Grizzlies         NaN
Hawks             NaN
Heat              NaN
Hornets           NaN
Jazz              NaN
Kings             NaN
Knicks            NaN
Lakers            NaN
Magic             NaN
Mavericks         NaN
Nets              NaN
Nuggets           NaN
Pacers            NaN
Pelicans          NaN
Pistons           NaN
Raptors           NaN
Rockets           NaN
Spurs             NaN
Suns              NaN
Thunder           NaN
Timberwolves      NaN
Trail Blazers     NaN
Warriors          NaN
Wizards           NaN