In [31]:
from bs4 import BeautifulSoup
import json
import re
import pandas as pd
import requests
import urllib.request as request

#pd.set_option('display.max_rows', 200)

In [32]:
with request.urlopen('https://cs.nyu.edu/dynamic/courses/schedule/?semester=spring_2021') as response:
 res = response.read()

In [33]:
dom = BeautifulSoup(res)

In [34]:
info = dom.select('.col-xs-12.col-sm-2')

In [35]:
instructor = []
time = []
where = []

for a in range(len(info)):
    if a%3 == 0:
        instructor.append(info[a].getText("|", strip=True))
    elif a%3 == 1:
        time.append(info[a].getText("|", strip=True))
    else:
        where.append(info[a].getText("|", strip=True))

In [36]:
infoName = dom.select('.col-xs-12.col-sm-3')

In [37]:
course = []
section = []
for a in range(len(infoName)):
    if a%2 == 1:
        course.append(infoName[a].getText("|", strip=True))
    else:
        section.append(infoName[a].getText("|", strip=True))

In [38]:
className = []
for a in section:
    hyphencount = 0
    result = ""
    for b in range(len(a)):
        
        if a[b] == '-':
            hyphencount +=1
        if hyphencount <2:
            result += a[b]
    className.append(result)

FinalSection = []
for a in section:
    hyphencount = 0
    result = ""
    for b in range(len(a)):
        if a[b] == '|':
            hyphencount +=1
        if hyphencount <1:
            result += a[b]
    FinalSection.append(result)

In [39]:
infoList = {'Number-Section':FinalSection,'Name':course,'Instructor':instructor,'Time':time,"Number":className}

results = pd.DataFrame(infoList,columns=infoList.keys())

In [40]:
results

,Number-Section,Name,Instructor,Time,Number
0,CSCI-GA.1144-​001,PAC II*,Mohamed Zahran|Office Hours,T 6:00-8:30PM,CSCI-GA.1144
1,CSCI-GA.1144-​002,PAC II Recitation,Gurkirat Singh Bajwa,R 7:10-8:00PM,CSCI-GA.1144
2,CSCI-GA.1170-​001,Fundamental Algorithms,Yevgeniy Dodis,T 7:10-9:00PM,CSCI-GA.1170
3,CSCI-GA.1170-​002,Fundamental Algorithms Recitation,Alex Bienstock|Charles Peyser|Fengyuan Liu,R 8:10-9:00PM,CSCI-GA.1170
4,CSCI-GA.1170-​003,Fundamental Algorithms Recitation,Harish Karthikeyan,R 8:10-9:00PM,CSCI-GA.1170
...,...,...,...,...,...
147,CSCI-UA.0480-​057,Special Topics: Natural Language Processing,Adam Meyers|Office Hours,TR 9:30-10:45AM,CSCI-UA.0480
148,CSCI-UA.0480-​069,Special Topics: Agile Software Development and...,Amos Bloomberg,MW 3:30-4:45PM,CSCI-UA.0480
149,CSCI-UA.0480-​521,Special Topics: Algorithmic Problem Solving,Joanna Klukowska,MW 11:00-12:15PM,CSCI-UA.0480
150,CSCI-UA.0480-​522,Special Topics: Algorithmic Problem Solving,Kunal Khatri,W 3:30-4:45PM,CSCI-UA.0480
151,CSCI-UA.0480-​523,Special Topics: Algorithmic Problem Solving,Samasth Ananda,W 3:30-4:45PM,CSCI-UA.0480

In [41]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number-Section  152 non-null    object
 1   Name            152 non-null    object
 2   Instructor      152 non-null    object
 3   Time            152 non-null    object
 4   Number          152 non-null    object
dtypes: object(5)
memory usage: 6.1+ KB

In [42]:
results.head(5)

,Number-Section,Name,Instructor,Time,Number
0,CSCI-GA.1144-​001,PAC II*,Mohamed Zahran|Office Hours,T 6:00-8:30PM,CSCI-GA.1144
1,CSCI-GA.1144-​002,PAC II Recitation,Gurkirat Singh Bajwa,R 7:10-8:00PM,CSCI-GA.1144
2,CSCI-GA.1170-​001,Fundamental Algorithms,Yevgeniy Dodis,T 7:10-9:00PM,CSCI-GA.1170
3,CSCI-GA.1170-​002,Fundamental Algorithms Recitation,Alex Bienstock|Charles Peyser|Fengyuan Liu,R 8:10-9:00PM,CSCI-GA.1170
4,CSCI-GA.1170-​003,Fundamental Algorithms Recitation,Harish Karthikeyan,R 8:10-9:00PM,CSCI-GA.1170

In [43]:
results.tail(5)

,Number-Section,Name,Instructor,Time,Number
147,CSCI-UA.0480-​057,Special Topics: Natural Language Processing,Adam Meyers|Office Hours,TR 9:30-10:45AM,CSCI-UA.0480
148,CSCI-UA.0480-​069,Special Topics: Agile Software Development and...,Amos Bloomberg,MW 3:30-4:45PM,CSCI-UA.0480
149,CSCI-UA.0480-​521,Special Topics: Algorithmic Problem Solving,Joanna Klukowska,MW 11:00-12:15PM,CSCI-UA.0480
150,CSCI-UA.0480-​522,Special Topics: Algorithmic Problem Solving,Kunal Khatri,W 3:30-4:45PM,CSCI-UA.0480
151,CSCI-UA.0480-​523,Special Topics: Algorithmic Problem Solving,Samasth Ananda,W 3:30-4:45PM,CSCI-UA.0480

In [44]:
results.sample(5)

,Number-Section,Name,Instructor,Time,Number
151,CSCI-UA.0480-​523,Special Topics: Algorithmic Problem Solving,Samasth Ananda,W 3:30-4:45PM,CSCI-UA.0480
13,CSCI-GA.2250-​002,Operating Systems,Hubertus Franke|Office Hours,M 7:30-9:20AM,CSCI-GA.2250
42,CSCI-GA.3033-​078,Special Topics:\n ...,Joseph Bonneau|Office Hours,R 5:10-7:00PM,CSCI-GA.3033
28,CSCI-GA.2820-​002,DevOps and Agile Methodologies Lab,John Rofrano,W 7:10-8:00PM,CSCI-GA.2820
145,CSCI-UA.0480-​042,Special Topics: Computer Vision,Davi Geiger,TR 3:30-4:45PM,CSCI-UA.0480

In [45]:
with request.urlopen('https://cs.nyu.edu/dynamic/courses/catalog') as response:
 res2 = response.read()

In [46]:
dom2 = BeautifulSoup(res2)

In [47]:
splited = dom2.select('.col-sm-12')

In [48]:
credits = []
courses = []
preqs = []
for a in range(len(splited)):
    b = splited[a].getText("|", strip=True).split("\n")
    credits.append(b[0][-9])
    courses.append(b[0][:12])
    


for a in range(len(splited)):
    b = splited[a].getText("|", strip=True).split("\n")
    c = b[len(b)-1]
    count = 0 
    result = ''
    #print(c)
    for d in range(len(c)):
        if c[d] == '|':
            count += 1
        if count <2 and count >0:
            result += c[d]
    preqs.append(result[1:])
    #print("")

In [49]:
infoList2 = {'Name':courses,'Prereqs':preqs,'Points':credits}

result2 = pd.DataFrame(infoList2,columns=infoList2.keys())

In [50]:
result2

            Name                                            Prereqs Points
0   CSCI-GA.1133                                Prerequisites: None      4
1   CSCI-GA.1144  Prerequisites: CSCI-GA 1133 or departmental pe...      4
2   CSCI-GA.1170  Prerequisites: At least one year of experience...      3
3   CSCI-GA.1180                                Prerequisites: None      3
4   CSCI-GA.2110  Prerequisites: Students taking this class shou...      3
..           ...                                                ...    ...
95  CSCI-UA.0897  Prerequisites: Restricted to declared computer...      4
96  CSCI-UA.0898  Prerequisites: Restricted to declared computer...      4
97  CSCI-UA.0997  Prerequisites: Permission of the department. D...      4
98  CSCI-UA.0998  Prerequisites: Permission of the department. D...      4
99  FRSEM-UA.059  Prerequisites: Some programming experience in ...      4

[100 rows x 3 columns]

In [51]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     100 non-null    object
 1   Prereqs  100 non-null    object
 2   Points   100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [52]:
result2.head(5)

           Name                                            Prereqs Points
0  CSCI-GA.1133                                Prerequisites: None      4
1  CSCI-GA.1144  Prerequisites: CSCI-GA 1133 or departmental pe...      4
2  CSCI-GA.1170  Prerequisites: At least one year of experience...      3
3  CSCI-GA.1180                                Prerequisites: None      3
4  CSCI-GA.2110  Prerequisites: Students taking this class shou...      3

In [53]:
result2.tail(5)

            Name                                            Prereqs Points
95  CSCI-UA.0897  Prerequisites: Restricted to declared computer...      4
96  CSCI-UA.0898  Prerequisites: Restricted to declared computer...      4
97  CSCI-UA.0997  Prerequisites: Permission of the department. D...      4
98  CSCI-UA.0998  Prerequisites: Permission of the department. D...      4
99  FRSEM-UA.059  Prerequisites: Some programming experience in ...      4

In [54]:
result2.sample(5)

            Name                                            Prereqs Points
19  CSCI-GA.2434  Prerequisites: CSCI-GA 1170, CSCI-GA 2110, and...      3
17  CSCI-GA.2421        Prerequisites: Corequisite: linear algebra.      3
61  CSCI-GA.3870  Prerequisites: Permission of Director of Gradu...      3
79  CSCI-UA.0436  Prerequisites: Computer Systems Organization (...      4
97  CSCI-UA.0997  Prerequisites: Permission of the department. D...      4

In [55]:
results = results.merge(result2,left_on = 'Number',right_on = 'Name',how = 'left')

In [56]:
results

,Number-Section,Name_x,Instructor,Time,Number,Name_y,Prereqs,Points
0,CSCI-GA.1144-​001,PAC II*,Mohamed Zahran|Office Hours,T 6:00-8:30PM,CSCI-GA.1144,CSCI-GA.1144,Prerequisites: CSCI-GA 1133 or departmental pe...,4
1,CSCI-GA.1144-​002,PAC II Recitation,Gurkirat Singh Bajwa,R 7:10-8:00PM,CSCI-GA.1144,CSCI-GA.1144,Prerequisites: CSCI-GA 1133 or departmental pe...,4
2,CSCI-GA.1170-​001,Fundamental Algorithms,Yevgeniy Dodis,T 7:10-9:00PM,CSCI-GA.1170,CSCI-GA.1170,Prerequisites: At least one year of experience...,3
3,CSCI-GA.1170-​002,Fundamental Algorithms Recitation,Alex Bienstock|Charles Peyser|Fengyuan Liu,R 8:10-9:00PM,CSCI-GA.1170,CSCI-GA.1170,Prerequisites: At least one year of experience...,3
4,CSCI-GA.1170-​003,Fundamental Algorithms Recitation,Harish Karthikeyan,R 8:10-9:00PM,CSCI-GA.1170,CSCI-GA.1170,Prerequisites: At least one year of experience...,3
...,...,...,...,...,...,...,...,...
147,CSCI-UA.0480-​057,Special Topics: Natural Language Processing,Adam Meyers|Office Hours,TR 9:30-10:45AM,CSCI-UA.0480,CSCI-UA.0480,Prerequisites: Topics determine prerequisites.,4
148,CSCI-UA.0480-​069,Special Topics: Agile Software Development and...,Amos Bloomberg,MW 3:30-4:45PM,CSCI-UA.0480,CSCI-UA.0480,Prerequisites: Topics determine prerequisites.,4
149,CSCI-UA.0480-​521,Special Topics: Algorithmic Problem Solving,Joanna Klukowska,MW 11:00-12:15PM,CSCI-UA.0480,CSCI-UA.0480,Prerequisites: Topics determine prerequisites.,4
150,CSCI-UA.0480-​522,Special Topics: Algorithmic Problem Solving,Kunal Khatri,W 3:30-4:45PM,CSCI-UA.0480,CSCI-UA.0480,Prerequisites: Topics determine prerequisites.,4
151,CSCI-UA.0480-​523,Special Topics: Algorithmic Problem Solving,Samasth Ananda,W 3:30-4:45PM,CSCI-UA.0480,CSCI-UA.0480,Prerequisites: Topics determine prerequisites.,4

I think that one of the biggest problem is that when I was trying to merge the two list, I found that they are in two totally different part and the part two's contennt in dataframe 1's part are all NaN, so do the second part. After check it out, I found that I made a mistake on the merge key selection, and after changing the right 'left_on' and 'right_on' I think I have solved the problem.

Also I think it is very interesting to see that all recitation are marked on the same prereqs and credits as their lecture, I think that is because they have the same class Numbers.

Finally, I think there is one problem is that two or three (probrably four?) rows still missing the data, I do not know why it happens.